<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fudian.mapper.MenuMapper">
	<resultMap type="menu" id="mymap">
		<id property="id" column="id"/>
		<result property="name" column="name"/>
		<collection property="children" select="com.fudian.mapper.MenuMapper.selByPid" column="{uid=uid,pid=id}"></collection>
	</resultMap>
	<select id="selByPid" parameterType="map" resultMap="mymap">
		select *,#{uid} uid from menu where id in (select mid from users_menu where uid=#{uid}) and pid=#{pid}
	</select>
</mapper>